/* Page layout */
.notification-page {
    height: 95vh;

    display: flex;
    flex-direction: row;
    
}

.notification-tabs {
    display: flex;
    flex-direction: column;

    width: 25%;
    background-color: #565a5c;
}

.notification-details {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.notification-title {
    font-size: xx-large;
    font-weight: bold;

    margin: 5px;

}

.bar {
    height: 1px;
    background-color: #565a5c;
}


/* Notification List */
.notification-list {
    margin: 0;
    padding: 0;

    overflow-y: scroll;

    list-style: none;
}

.categories {
    margin: 0;
    padding: 0;
    display: flex;
}

.notification-text {
    padding: 10px;
    margin: 0;
    flex: 3;
    text-align: left;
}

.date-text {
    padding: 10px;
    margin: 0;

    flex: 1;
    text-align: left;
}

/* User interaction elements */
.button {
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: black;
    border-width: 4px;

    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.input {
    color-scheme: dark;
    background-color: black;
    border-color: #454849;
    width: 100%;
    margin-bottom: 10px;
}

.create-box {
    background-color: #212121;

}